# Backend

.DS_Store
Thumbs.db
*.log
*.swp
*.swo

.idea/
*.iws
*.iml
*.ipr

.vscode/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/target/

**/build/
.gradle/

backend/*.env
backend/.env

backend/**/*.h2.db
backend/**/*.mv.db


