spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/eshop
    username: app
    password: secret
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "health"
