spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/eshop
    username: app
    password: secret
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true   # if DB already has tables
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: "health"
